* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


/* body {
    
    max-height: 100%;
} */

body {
    padding: 45px;
    margin: 0;
    font-family: cursive;
    font-size: 18px;
    line-height: 150%;
}

.navbar-nav {
    margin-left: auto;
}

p {
    background-color: white;
    font-family: cursive;
    text-align: center;
}

h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
}

h2 {
    padding: 20px 0;
    font-size: 30px;
    font-family: cursive;
    text-align: justify;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    font-family: cursive;
    text-align: left;
}

h4 {
    padding: 20px 0;
    font-size: 30px;
    font-family: cursive;
    text-align: justify;
    margin-top: 20px;
}

.container-fluid {
    background-color: rgb(19, 52, 83);
    font-family: cursive;
    color: white
}

.card-body {
    font-family: cursive;
    text-align: center;
}

.footer {
    background-color: rgb(19, 52, 83);
    padding: 10px;
    text-align: center;
    /* font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0; */
}

.form-control {
    display: block;
    width: 50%;
    padding: 5px;
    font-size: 20px;
    line-height: normal;
    background-color: rgba(255, 238, 238, 0.568);
    border: solid #01070e;
    border-width: thin;
}

.button {
    background-color: #01070e;
    border-radius: 12px;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    font-family: cursive;
}

.LI-profile-badge {
    padding-left: 33% !important;
}

#img {
    width: 150px;
    height: 123px;
    padding-bottom: 10px;
}